@import '../../../styles/base.scss';

.app-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 20px;
    background-color: $step-color;
    color: $white;
    font-weight: 700;
    font-size: 16px;

    &--active {
      height: 35px;
      width: 35px;
      background-color: $dark-green-color;
      font-size: 20px;
    }
  }

  .separator {
    width: 40px;
    height: 3px;
    background-color: $step-color;
  }
}