@import '../../styles/base.scss';

.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: none;
  padding: 8px;
  outline: none;
  font-weight: 500;
  &--primary {
    background-color: $dark-green-color;
    color: $white;
  }
  &--disabled {
    background-color: $light-gray-color;
    color: $white;
  }
  &--secondary {
    background-color: transparent;
  }
}