.form-content {
  padding: 40px 0px 40px 0px;
  
  .password-form {
    display: flex;
    column-gap: 30px;
    margin: 30px 0px 40px 0px;

    .password-input {
      flex: 1;
    }
  }
  .hint-input {
    margin-bottom: 40px;
  }
}